@charset "utf-8";

@font-face {
	font-family: 'notokr';
	src: url('..//fonts/notokr-light.eot');
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-light.woff2') format('woff2'),
	url('../fonts/notokr-light.woff') format('woff'),
	url('../fonts/notokr-light.ttf') format('truetype'),
	url('../fonts/notokr-light.svg#notokr-light') format('svg');
	font-weight: 200;
	font-style: normal;

}
@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-demilight.eot');
	src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-demilight.woff2') format('woff2'),
	url('../fonts/notokr-demilight.woff') format('woff'),
	url('../fonts/notokr-demilight.ttf') format('truetype'),
	url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
	font-weight: 300;
	font-style: normal;

}
@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff2') format('woff2'),
	url('../fonts/notokr-regular.woff') format('woff'),
	url('../fonts/notokr-regular.ttf') format('truetype'),
	url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-medium.eot');
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-medium.woff2') format('woff2'),
	url('../fonts/notokr-medium.woff') format('woff'),
	url('../fonts/notokr-medium.ttf') format('truetype'),
	url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
	font-weight: 500;
	font-style: normal;

}
@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-bold.eot');
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-bold.woff2') format('woff2'),
	url('../fonts/notokr-bold.woff') format('woff'),
	url('../fonts/notokr-bold.ttf') format('truetype'),
	url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
	font-weight: 600;
	font-style: normal;
	
}
/* 
@font-face {
	font-family: 'Noto Serif KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Serif CJK KR'), local('Source Han Serif K'), local('Source Han Serif'), local('Noto Serif CJK'), local('Noto Serif'), url(../fonts/NotoSerifCJKkr-Light.woff) format('woff');
}
@font-face {
	font-family: 'Noto Serif KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Serif CJK KR'), local('Source Han Serif K'), local('Source Han Serif'), local('Noto Serif CJK'), local('Noto Serif'), url(../fonts/NotoSerifCJKkr-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Noto Serif KR';
	font-style: normal;
	font-weight: 600;
	src: local('Noto Serif CJK KR'), local('Source Han Serif K'), local('Source Han Serif'), local('Noto Serif CJK'), local('Noto Serif'), url(../fonts/NotoSerifCJKkr-Bold.woff) format('woff');
} */
