@import './helper/index';

button{
	cursor: pointer;
}
/*===== ui-button =====*/ 
/* button */ 
.btn-circle-plus {
	background: url(../images/icon/plus_circle_blue.png) no-repeat center;
	width: 2.5rem;
	height: 2.5rem;
	background-size: 2.5rem 2.5rem;
	cursor: pointer;
	content: "";
}

.btn-sorting {
	background: url(../images/icon/icon_sorting.png) no-repeat center;
	width: 3rem;
	height: 3rem;
	background-size: 3rem 3rem;
	cursor: pointer;
	content: "";
}

.btn-circle-close {
	background: url(../images/icon/plus_circle_gray.png) no-repeat center;
	width: 2.5rem;
	height: 2.5rem;
	background-size: 2.5rem 2.5rem;
	transform: rotate(-45deg);
	cursor: pointer;
	content: "";
}
.ui-button {
	width:auto;
	min-width: 6rem;
	height: 3.5rem;
	padding:0 1rem;
	font: {
		size: 1.3rem;
		weight: 500;
	};
	color:#586376;
	border-radius: .6rem;
	line-height: 3.5rem;
	text-decoration: none;
	transition: all .2s;
	background-color: #e5e5e5;
	&:disabled{
		background-color:#f2f2f2 !important;
		color:#b2b2b2 !important;
	}
	&s{
		display: flex;
		margin: -.25rem;
		.ui-button{
			margin: .25rem;
		}
		&__half{
			flex-wrap: wrap;
			margin: -5px;
			.ui-button{
				max-width: calc(100% / 2 - 2rem);
				margin: 1rem;
				// &+&{
				//	 margin: 1rem;
				// }
			}
		}
		&__thirds{
			flex-wrap: wrap;
			margin: -1rem;
			.ui-button{
				max-width: calc(100% / 3 - 2rem);
				margin: 1rem;
				// &+&{
				//	 margin: 1rem;
				// }
			}
		}
		&__fourth{
			flex-wrap: wrap;
			margin: -1rem;
			.ui-button{
				max-width: calc(100% / 4 - 2rem);
				margin: 1rem;
				// &+&{
				//	 margin: 1rem;
				// }
			}
		}
		&__column{
			flex-direction: column;
			.ui-button{
				&+.ui-button{
					margin-top: 2rem;
					margin-left: 0rem;
				}
			}
		}
		
		.ui-form{
			&__direct{
				flex:1;
				margin: 1rem;
				.ui-input{
					width:100%;
					padding-left: 4rem;
					border:0.4rem solid #d8dce2;
				}
			}
			&__cell{
				&__text{
					margin-right: 7rem;
				}
			}
		}
		&__center{
			justify-content: center;
		}
		&__right{
			justify-content: flex-end;
		}
		&__small{
			.ui-button{
				width: 45px;
				height: 27px;
			}
		}
		&__order{
			margin: 0 -.5rem;
			.ui-button{
				margin: 0 .5rem;
			}
		}
		&__left-right{
			@include d-flex;
			.ui-buttons__right{
				margin-left: auto;
			}
		}
	}
	&__min-width{
		&--none{
			min-width: unset;
		}
	}
	&__width{
		&-auto{
			width: auto !important;
			padding: 0 1.4rem;
		}
		&--full{
			width: 100%;
		}
		&--40 {
			min-width: unset;
			width: 4rem;
			padding:0;
			box-sizing: border-box;
		}
		&--45{
			width:45px !important;
			padding: 0 !important;
		}
		&--70{
			width:7rem;
			padding: 0 .5rem;
			box-sizing: border-box;
			flex:none;
		}
		&--81{
			width:81px !important;
			padding: 0 !important;
		}
		&--120{
			width:120px !important;
		}
		&--146{
			width:146px !important;
			padding: 0 !important;
		}
		&--150{
			width:150px;
		}
		&--300{
			width:300px;
		}
	}
	&__height{
		&--23{
			height: 2.3rem;
			line-height: 2.1rem;
		}
		&--28{
			height: 2.8rem;
			line-height: 2.7rem;
		}
		&--35{
			height: 35px !important;
			line-height: 35px !important;
		}
		&--46{
			height: 46px !important;
			line-height: 46px !important;
		}
		&--50{
			height: 50px;
			line-height: 50px;
		}
	}
	&__right{
		margin-left: auto;
	}
	&__bg{
		&--blue{
			background-color: #2b90d9;
			color:#ffffff;
			&:hover{
				background-color: #6AAFE6;
			}
		}
		&--skyblue{
			background-color: #6AAFE6;
			color:#ffffff;
			border: 0;
			&:hover{
				background-color: #CADBE9;
			}
		}
		&--gray{
			background-color: #9c9c9c;
			color:#ffffff;
			&:hover{
				background-color: #969696;
			}
		}
		&--lightgray{
			font-weight: 500;
			background: #d7d9de;
			color: #545454;
			&:hover{
				background-color: #c4c6cb;
			}
		}
		&--deepgray{
			background-color: #6f7789;
			color:#ffffff;
		}
	}
	&__border{
		&--gray{
			border: 1px solid #eaedf3; 
			//color:#243b7c;
			background: #ffffff;
			font-weight: 500;
			&:hover{
				background: #f6f6f6;
			}
		}
		&--blue{
			font-weight: 500;
			border: 1px solid #2b90d9; 
			background: #ffffff;
			color:#2b90d9;
			&:hover{
				background: #eff4ff;
			}
		}
	}
	
	&__font{
		&--12{
			font-size: 12px;
		}
		&-xxs{
			font-size: 4.6rem;
		}
		&-xs{
			font-size: 5rem;
		}
		&-s{
			font-size: 5rem;
		}
	}
	&__color{
		&--gray{
			color:#545454;
		}
		&--blue{
			color:#203c7d;
		}
	}
	&__radius{
		&--2{
			border-radius: .2rem;
		}
	}
	&-modify{
		position: relative;
		font-size: 4.8rem;
		color:#9196a5;
		// &::before{
		//	 display: inline-block;
		//	 position: absolute;
		//	 left: 0;
		//	 bottom: 0;
		//	 width: 100%;
		//	 height:.6rem;
		//	 background: #228ff8;
		//	 content:""
		// }
	}
	&__icon{
		@include d-flex-center;
		&::before{
			display: inline-block;
			margin-right: 4.5rem;
			background-size: cover;
			background-position: center;
			vertical-align: middle;
			content:"";
		}
		&--right{
			&::after{
				display: inline-block;
				margin-left: 1rem;
				background-size: cover;
				background-position: center;
				vertical-align: middle;
			}
		}
	}
	&__left{
		padding: 0 4rem ;
		text-align: left;
	}
	&__badge{
		@include d-flex;
		@include align-center;
		height:7rem;
		padding: 0rem 2.8rem;
		font : {
			size: 4rem;
			weight:500;
		}
		background: #4b62c3;
		color:#ffffff;
		border-radius: 3.5rem;
		line-height: 7.1rem;
	}	
	&__line-height{
		&--n{
			line-height: 6.5rem;
		}
	}
	&__day{
		height: 17.6rem;
		line-height: 17.7rem;
		font-size: 5.5rem;
	}
	&__text{
		&--line{
			&-s{
				display: inline-block;
				margin-top:1.6rem;
				line-height: 5.2rem;
			}
		}
	}
	&__disabled{
		color:#bbbbbb !important;
		background: #f6f6f6 !important;
		cursor: default !important;
		border: 1px solid #d7d7d7 !important;
		*{
			color:#bbbbbb;
		}
	}
	&[aria-disabled="true"], &disabled{
		color:#c1c1c1 !important;
		background: #f6f6f6 !important;
		border: 1px solid #d7d7d7 !important;
		cursor: default !important;
	}
	 
	&__circle{
		width: 23px;
		min-width: unset;
		height: 23px;
		padding:0;
		border: 1px solid #eaeaee;
		border-radius: 100%;
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center;
		transition: all .2s;
		&:hover{
			border-color:#bbbbbb;
			box-shadow: 1px 1px .4rem rgba($color: #000000, $alpha: 0.1);
		}
	}
	
	&__th{
		width: auto;
		padding: 0 1rem;
		margin-left: 1rem;
		font: {
			size: 12px;
			weight:400;
		};
		color:#586376;
		line-height: 2.2rem;
		border-radius: 2px;
		&:hover{
			background: #ffffff;
			border-color: #cdcdcd;
		}
	}
}