@import './helper/index';
.for-a11y {
	display: block;
	margin: 0;
	position: absolute;
	z-index: -1;
	width: 1px;
	height: 1px;
	color: transparent;
	border: none;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: alpha(opacity=0);
	background: none;
}
.menu-tab {
	margin-top: -2.3rem;
	padding-top: 2.3rem;
	//margin-bottom: 3rem;
	overflow: auto;
	// &::-webkit-scrollbar {
	//	 display: block;
	//	 width: 100%;
	//	 height: 3px;
	//	 background-color: #bdbdbd;
	//	 border-radius: 2rem;
	//	 border-right: .5rem solid #ffffff;
	//	 border-left: .5rem solid #ffffff;
	// }
	// &::-webkit-scrollbar-thumb {
	//	 background: #8cb0f4;
	//	 border-radius: 2rem;
	// }
	&__inner {
		border-radius: 1.2rem 1.2rem 0 0;
		background: #f6f7fb;
		box-shadow: .1rem .1rem .3rem rgba($color: #000000, $alpha: 0.08);
		@include scroll-bar(3);
	}

	&__list {
		display: inline-flex;
		background: #f6f7fb;
		border-radius: 1.2rem 1.2rem 0 0;
		//overflow: hidden;
		// overflow-y: visible;
		// overflow-x: scroll;
	}

	&__block {
		@include d-flex;
		@include align-center;
		position: relative;
		min-width: 8rem;
		max-width: 15rem;
		height: 3.8rem;
		padding: 1rem 1rem 1rem 2rem;
		box-sizing: border-box;
	}

	&__delete {
		display: block;
		//position: absolute;
		// top: 50%;
		// right: 1.1rem;
		min-width: unset;
		width: 10px;
		height: 10px;
		margin-left: auto;
		padding: 0;
		background: url(../images/icon/icon-pageClose.png) no-repeat;
		background-size: cover;
		// transform: translateY(-50%);
	}

	&__link {
		@include d-flex;
		align-items: center;
		
		font: {
			size: 1.4rem;
			weight: 500;
		};
		color:#64789b;
		line-height: 1.4rem;
		margin: 1rem 1rem 1rem 0;
		box-sizing: border-box;
	}

	&__title {
		display: block;
		overflow: hidden;
		width: 10rem;
		text-overflow: ellipsis;
	}

	&__item {
		background: #e9f1fc;
	border-radius: 1.2rem 1.2rem 0 0;

	&+.menu-tab__item:not(.is-active) {
			position: relative;

			&::before {
				display: inline-block;
				position: absolute;
				top: 50%;
				width: 1px;
				height: 1.6rem;
				background: #c1ccdf;
				transform: translateY(-50%);
				content: ""
			}
		}

		&.is-active {
			background: #ffffff;
			box-shadow: .2rem .2rem .4rem rgba($color: #11203e, $alpha: 0.04);
			.menu-tab {
				&__link {
					font: {
						size: 1.4rem;
						weight: 600;
					}

					;
					color:#2b90d9;
				}
			}

			&+.menu-tab__item {
				&::before {
					display: none;
				}
			}
		}

		&:nth-last-child(1) {
			border-radius: 0 1.2rem 0 0;
		}
	}
}

.ui-tooltip{
	//display: none;
	position: absolute;
	bottom: 100%;
	left: 100%;
	width: 100%;
	height: auto;
	margin-left: -1rem;
	margin-bottom: 0.3rem;
	padding-bottom: .6rem;
	z-index: 999;
	overflow: hidden;
	transition:all .2s;
	opacity: 0;
	&::before{
		position: absolute;
		left: 0.6rem;
		bottom: 0;
		width: 1.3rem;
		height: .6rem;
		background: url(../images/icon/icon-tooltip.png);
		background-size: 1.3rem .6rem;
		content:""
	}
	&__parent{
		position: relative;
		&:hover{
			.ui-tooltip{
				display: inline-block;
				width: max-content;
				opacity: 1;
			}
		}
	}
	&__inner{
		position: relative;
		display: inline-block;
		padding: .6rem 1rem;
		background: #6AAFE6;
		font: {
			size: 1.2rem;
			weight: 600;
		}
		color:#ffffff;
		border-radius: .3rem;	
	}
	&-item{
		position:relative;
		.ui-tooltip{
			overflow:visible;
			bottom:-5px;
			left:65%;
			width:16rem !important;
			height:7rem;
			&.is-active{
				display:inline-block;
				opacity:1;
			}
			&::before{
				bottom:-.8rem;
				height:.8rem;
				background:url(../images/icon/icon-tooltip__white.png);
				z-index:1;
				.ui-tooltip__top{
					display:inline-block;
				}
			}
			&__top{
				display:none;
				width:16rem;
				padding:.8rem;
				padding-left:0;
				border:1px solid #4886ff;
				border-radius:.3rem;
				box-sizing: border-box;
				background-color:#fff;
			}
			&__inner{
				width:100%;
				height:100%;
				padding:0;
				padding-left:.8rem;
				color:#4886ff;
				text-align:left;
				overflow-y: auto;
				background-color:#fff;
				box-sizing: border-box;
				&::-webkit-scrollbar {
					width: .3rem;
					height: 8px;
					background-color: #e3eeff;
					border-radius: 2rem;
				}
				&::-webkit-scrollbar-thumb {
					background: #8cb0f4;
					border-radius: 2rem;
				}
			}
		}
	}
}